@import url('https://fonts.googleapis.com/css?family=Amiri|Eczar|Libre+Baskerville|Neuton|Spectral');



h1
{
	margin: 0;
	padding: 0;
}

html
{
	background-color: rgb(25, 25, 25);
	color: rgb(200, 200, 200);
	font-family: "Spectral";
}

body
{
	margin: auto;
	padding: 1em;
	background-color: rgb(40, 40, 40);
	width: 25em;
}

#item
{
	margin: 1em;
	padding: 1em;
	background-color: rgb(50, 75, 50);
	border-radius: 1em;
}

#item h1
{
	font-family: "Libre Baskerville";
	color: yellow;
}